<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;
=======
@tailwind base;
@tailwind components;
@tailwind utilities;
>>>>>>> 7a2e217ea6c9b1a56268cc988023f7d27aba41e2
@tailwind utilities;